.contactus-container {
  .header {
    background-color: #f814cb;
    img {
      height: 60px;
      margin-left: 10px;
    }
    .icon-position {
      float: right;
      color: #f1fd42;
      margin: 18px;
      padding: 10px;
      .expand {
        padding-left: 13px;
      }
      .search {
        margin-right: 20px;
      }
    }
  }
  .contactus-content {
    min-height: calc(100vh - 180px);
    margin: auto;
    margin-top: 100px;
    #circle {
      top: 100px;
      right: 150px;
      @media (max-width: 500px) {
        right: 10px;
      }
    }
  }
}
.end {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 75px;
}
