.drum{
    background-image: url("./../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 20px;
    width: 40%;
    margin-left: 205px;
.beat{
    border: 1px solid;
    background-color: #ffffff;
    padding: 20px;
    height: 500px;
    margin: auto;
    width: 80%;
    img {
        width: 100%;
    }
    p .par {
        text-align: start;
        margin-left: 10px;
        font-size:12px;
    }
    
    h1{
        text-align: start;
        margin-left: 10px;
        font-size: 15px;
    }
    h3{
        color: #366cdb;
        margin-left: 10px;
        font-size:10px;

    }
    }
    button {
        margin:10px 20px 10px 50px;
        border: none;    
        color: #ffffff;
        background-color: #f81455;
        padding: 10px 20px ;
        border-radius: 20px;
        font-size: 10px;
        }
    
}