.content{
    padding-left:42px;
    height: 250px;
    width:40%;
    margin-left: 175px;
    h2{
        color:#f424c0;
        font-size: 12px;
    }
    h1{
        font-size: 18px;
    }
    p{
        
        font-size: 15px;
    }
    button{
             border-radius:20px;
            background-color: #2cfe77;
            color:#000000;
            padding: 3px 25px;
            border: none;
            outline: none;
    }
}