.view-container{
    display:flex;
    width: 40%;
    height: 80px;
    
    margin: 0 auto;
    .view {
        width: 15%;
        background-color:#f81455 ;
        text-align: center;
        margin: auto;
        height: 30px;
    }
    .view1 {
        width: 70%;
        text-align: center;
         margin: auto;
        height: 30px;
        text-decoration: underline;
    }

} 
