.contactus-container{
    .header{
        background-color: #f814cb;
        img{
            
            height: 75px;
            margin-left: 10px;
        }
        .icon-position{
            float:right;
            color:#f1fd42;
            margin: 18px;
            padding:10px;
            .expand{
                padding-left: 13px;
            }
            .search{
                margin-right: 20px;
            }
        }
    }
    .text-form-container{
        // min-height: 800px;
        margin-bottom: 40px;
    .text-form{
       width:70%; 
        display: flex;
        padding: 0 auto;
    justify-content: space-between;
        height:300px;
        margin:0 auto;
    .text{
        width:40%;
        margin-top:30px;
        h5{
          color:#fa65dc;
          text-decoration:underline;
          font-size: 15px;
          .map-marker{
              margin-right: 12px;
          }
        }
        p{
          font-size: 15px;
          margin-bottom: 10px;
          line-height: 25px;
        }
        h1{
            margin-bottom: 3px;
            font-size: 50px;
        }
        span{
            font-size:15px;
            margin-bottom: 12px;
            line-height: 25px;
            .phone{
                margin-right: 8px;
                color:#fa65dc;
            }
        }
    }
        .form{
            box-shadow: 10px 10px 15px #ddd;
             padding:20px;
            border-radius: 15px;
            width:50%;
            margin-top: 30px;
            form{
                display:grid;
            }
            input{
                padding-top: 30px;
                padding-bottom: 10px;
                border: none;
                border-bottom: 1px solid #ccc ;
                outline: none;
            }
            .radio{
            display: flex;
            margin-top: 30px;
            justify-content: space-between;
            .radio-option{
                font-size: 15px;
                margin-right: 40px;
            }
        
            }
            button{
                width:20%;
                margin:0 auto;
                margin: -7px 0 0 3px;
                background-color: #2cfe77;
                padding: 10px;
                border: none;
                border-radius: 20px;
                box-shadow:10px 3px 10px 3px #ddd;
                font-size: 15px;
            }
        }
    }
}
}
.end{
    background-color: #000;
    color:#fff;
    text-align: center;
    height: 75px;
}
