.nav-bar {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent !important;
  justify-content: flex-end;
  .navbar-collapse {
    &.show {
      background-color: blue;
      padding: 10px;
    }
  }
  .navbar-nav {
    .nav-link {
      color: #fff;
      &:active {
        color: #fdfc57;
      }
      i {
        color: #fdfc57;
      }
    }
  }
}
