.nav-bar {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent !important;
  justify-content: flex-end;
  .navbar-collapse {
    &.show {
      background-color: blue;
      padding: 10px;
    }
  }
  .navbar-nav {
    .nav-link {
      font-size:14px;
      font-weight: 700;

      color: #fff;
      &:active,
      &:hover {
        // text-decoration: underline;
        text-decoration-color: navy;
        padding-bottom: 2px; 
            border-bottom-style: solid; 
            border-bottom-width: 2px; 
            width: fit-content; 
        text-underline-position: under;
        color: #fdfc57;
      }
      i {
        color: #fdfc57;
      }
    }
  }
}
