.features-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  .step-indicator {
    position: absolute;
    z-index: 999;
    right: 10px;
    bottom: 30px;
  }
  @media only screen and (max-width: 500px) {
    width: 100%;
  }
  section {
    height: 100vh;
  }
  .firstBlog {
    display: flex;
    flex-direction: row;
    background: #f814cb;
    @media only screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // height: auto;
      flex: 0.7 0.3;
    }
    .imgBlog {
      width: 40%;
      @media only screen and (max-width: 500px) {
        // width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        height: 70%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .contentBlog {
      width: 60%;
      display: flex;
      // justify-content: center;
      align-items: center;
      color: #fff;
      margin-left: 10%;
      @media only screen and (max-width: 500px) {
        width: 100%;
        padding: 35px;
        margin-left: 0;
      }
      div {
        // font-size: 15px;
        line-height: 30px;
        // width: 285px;
        line-height: 30px;
        @media only screen and (max-width: 500px) {
          p {
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 14px;
          }
        }
      }
      .sec-one-btn {
        background: #30fc77;
        padding: 10px 40px;
        border: none;
        outline: none;
        box-shadow: 0 0 14px whitesmoke;
        font-weight: bold;
        border-radius: 30px;
      }
    }
  }

  .responsive-carousel {
    display: none;
    @media only screen and (max-width: 500px) {
      display: unset;
    }
  }
  .drumbeatBlog {
    position: relative;
    //   background: url("https://cdn4.vectorstock.com/i/1000x1000/93/63/green-and-yellow-glitch-background-vector-10779363.jpg");
    background: url("../../images/wa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // height: 560px;
    // align-items: center;
    // justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px;
    @media only screen and (max-width: 500px) {
      // background: green;
      // height: auto;
      padding: 15px;
    }

    .whiteBg {
      background: #fff;
      position: absolute;
      padding-bottom: 50px;
      margin-right: 37px;
      .subDrumBeat {
        // padding: 20px;
        position: relative;
        padding: 35px 50px;
        @media only screen and (max-width: 500px) {
          position: relative;
          padding: 18px;
        }
        h2 {
          // margin-bottom: 26px;
          font-size: 45px;
          font-weight: 600;
          position: relative;
          @media only screen and (max-width: 500px) {
            font-size: 28px;
          }
          #circle {
            width: 148px;
            position: absolute;
            left: -71px;
            top: -52px;
            text {
              fill: blue;
            }
            @media only screen and (max-width: 500px) {
              width: 74px;
              position: absolute;
              left: -18px;
              top: -31px;
            }
          }
        }
      }
      .drumBeatImagesBlog {
        display: flex;
        // padding: 62px;
        @media only screen and (max-width: 500px) {
          display: none;
        }
        //   height: 100px;
        .drumimg-card {
          width: 33.33%;
          text-align: start;
          margin: 0 40px;
          position: relative;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          @media only screen and (max-width: 500px) {
            width: 100%;
            font-size: 10px;
            text-align: center;
          }
          h1 {
            margin-top: 20px;
            font-size: 15px;
            line-height: 20px;
          }
          .drumimg {
            position: relative;
            img {
              width: 100%;
            }
            i {
              bottom: -18px;
              right: 20px;
              transform: rotate(45deg);
              color: #fff;
              position: absolute;
              padding: 15px;
              background-color: #f814cb;
              border-radius: 50%;
            }
          }

          span {
            font-family: inherit;
            color: blue;
            margin-top: 20px;
          }
        }
      }
      .carousalBlog {
        display: none;
        @media only screen and (max-width: 500px) {
          display: flex;
          flex-direction: column;
          margin-top: 25px;
          background-color: #fff;
        }
        .carousal-conatiner {
          .carousel {
            .thumbs-wrapper {
              display: none;
            }
          }
          .slider-wrapper {
            img {
              max-height: 35vh;
            }
            h4 {
              margin: 0;
            }
            span {
              line-height: unset;
            }
          }
        }
        .control-dots {
          box-shadow: none;
          align-items: center;
          .dot {
            box-shadow: none;
            margin: 3px;
          }
        }
      }
      button {
        // position: absolute;
        float: right;
        // bottom: 40px;
        // right: 120px;
        background: #f814cb;
        color: #fff;
        padding: 10px 20px;
        border: none;
        outline: none;
        border-radius: 20px;
        box-shadow: 0 0px 14px rgba(248, 20, 203, 0.5);

        @media only screen and (max-width: 500px) {
          // display: none;
          max-width: 200px;
          margin: auto;
        }
      }
    }
    .viewBtnRes {
      margin-top: 30px;
      text-align: right;
      @media only screen and (max-width: 500px) {
        display: none;
      }
      button {
        background: #f814cb;
        color: #fff;

        padding: 10px 23px;
        border: none;
        outline: none;
        border-radius: 20px;

        box-shadow: 0 0px 14px rgba(248, 20, 203, 0.5);
      }
    }
  }
  .bg-Black-container {
    background: #000;
    height: 400px;
    color: #fff;
    @media only screen and (max-width: 500px) {
      height: auto;
    }
    .bg-black-blog {
      display: flex;
      padding: 20px;
      margin-bottom: 32px;
      margin: 0 10%;
      padding: 40px 0;
      @media only screen and (max-width: 500px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 25px;
      }
      .black_first {
        width: 50%;
        border-right: 1px solid #fff;
        padding: 0 20px;
        @media only screen and (max-width: 500px) {
          width: 100%;
          border-right: none;
          padding: 0px;
          text-align: center;
        }
        h2 {
          text-align: right;
          font-size: 45px;
          @media only screen and (max-width: 500px) {
            text-align: center;
            display: none;
          }
        }
        h1 {
          display: none;
          @media only screen and (max-width: 500px) {
            text-align: center;
            display: initial;
            font-size: 30px;
          }
        }
      }
      .text-wrapper-blog {
        width: 50%;
        padding: 0 20px;
        font-size: 13px;
        letter-spacing: 1.5px;
        margin: auto;
        @media only screen and (max-width: 500px) {
          width: 100%;
          padding: 0px;
          margin-top: 20px;
        }
      }
      .responsive-images-blog {
        display: none;
        @media only screen and (max-width: 500px) {
          display: flex;
          margin-top: 20px;
          img {
            width: 50%;
          }
        }
      }
      .responsive-images-blog2 {
        display: none;
        @media only screen and (max-width: 500px) {
          display: flex;
          // margin-top: 20px;
          img {
            width: 50%;
          }
        }
      }
    }
    .imagesBlog-container {
      display: flex;
      width: 90%;
      margin: 0 auto;
      // height: 100%;
      margin-top: 0px;
      // margin-bottom: 75px;
      @media only screen and (max-width: 500px) {
        // margin-bottom: 0px;
      }
      .wrapper-img-blog {
        position: relative;
        width: 25%;
        @media only screen and (max-width: 500px) {
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
        }
        .more-layer {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          background-color: rgb(238, 255, 0);
          opacity: 0.8;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
          .meet-all {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i {
              // padding: 20px;
              width: 45px;
              height: 45px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              border-radius: 50%;
              transform: rotate(45deg);
              background-color: #f814cb;
              box-shadow: 0 0 20px rgba(248, 20, 203, 0.4);
              margin-bottom: 10px;
              cursor: pointer;
              // margin-left: 5px;
            }
            div {
              color: #000;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .img_description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition effect. not necessary */
    // transition: opacity .2s, visibility .2s;
  }
  .wrapper-img-blog.img_wrap {
    top: 0;
    backface-visibility: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    background-blend-mode: overlay;
    background: rgba(36, 62, 206, 0.6);
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper-img-blog {
  }
  .wrapper-img-blog:hover .img_description_layer {
    visibility: visible;
    opacity: 1;
    .img-description-content {
      position: relative;
      width: 250px;
      height: 250px;
      margin: auto;

      .img_description {
        transform: translate(-50%, -50%);
        position: absolute;
        /* z-index: -1; */
        top: 50%;
        left: 50%;
        font-size: 15px;
        // width: 140px;
        display: inline-block;
      }
      #circle {
        height: 100%;
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      #circle text {
        fill: white;
      }
    }
  }

  .wrapper-img-blog:hover .img_description {
    transform: translateY(0);
  }

  .hang-container {
    // width: 59%;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    padding: 0;
    @media only screen and (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px;
    }
    .contactus-content {
      .text-form {
        width: 80%;
      }
    }
  }
  footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    // margin-bottom: 50px;
    width: 100%;
  }
}
