.home-page {
  .header {
    background-color: #2160df;
    width: 100%;
    height: 500px;
    display: flex;
    .logo {
      width: 30%;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .header-right {
      width: 70%;
      // display: flex;
      // flex-direction: row-reverse;
      .nav-bar {
        float: right;
        margin-right: 20px;
        ul {
          li {
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            margin-left: 10px;
          }
        }
      }
      .text {
        padding: 30px;
        color: #fff;
        margin-top: 180px;
        h1 {
          color: #2ec19c;
          font-size: 35px;
          margin: auto;
        }
        p {
          font-size: 20px;
          margin: 10px 0;
        }
      }
    }
  }

  .page-content {
    margin: 0 auto;
    width: 80%;
    .card-container {
      margin-top: -20px;
      .info-card {
        display: flex;
        justify-content: space-between;
        &:nth-child(2n) {
          flex-direction: row-reverse;
        }
        .card-content {
          display: flex;
          flex-direction: column;
          align-self: center;
          width: 40%;
          // padding-right: 15%;
          h3 {
            letter-spacing: 3px;
            color: deeppink;
            margin: 0;
          }
          h1 {
            font-size: 35px;
            margin: 0;
          }
          button {
            padding: 8px 24px;
            border: none;
            background: #2afd78;
            border-radius: 15px;
          
          }
        }
        .imgbox {
          width: 40%;
          img {
            width: 100%;
          }
        }
      }
    }
    .work-container {
     .work-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .work-item {
          width: 30%;
          img{
            width: 100%;
          }
          h3{
            color:#ff1493;
            font-size: 10px;

          }
          h1{
            font-size:20px;
          }

        }
      }
    }
  }

}

 .footer {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 10px;
 }
