.features-header {
  display: flex;
  flex-direction: row;
  background: #f81455;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: 1s;
  // padding: 0 100px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 99;
  @media only screen and (max-width: 858px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  &--scrolled {
    height: 70px;
  }
  .imgBlog {
    width: 50%;
    // width: 40%;
    //   margin-left: -113px;
    //   margin-top: -50px;
    @media only screen and (max-width: 858px) {
      width: 100%;
      margin-left: 0px;
      margin-top: 0px;
    }
    img {
      // width: 100%;
      height: 100%;
    }
  }
  .contentBlog {
    width: 60%;
    display: flex;
    // justify-content: center;
    align-items: center;
    color: #fff;
    @media only screen and (max-width: 858px) {
      width: 100%;
      padding: 35px;
    }
    .features-content {
      // font-size: 15px;
      line-height: 30px;
      // width: 285px;
      line-height: 30px;
      margin-left: 10%;
      @media only screen and (max-width: 858px) {
        p {
          margin-top: 10px;
          margin-bottom: 15px;
          font-size: 14px;
        }
      }
    }
    .sec-one-btn {
      background: #30fc77;
      // color: #fff;
      padding: 10px 20px;
      border: none;
      outline: none;
      border-radius: 20px;
    }
  }
}
