.joinus-main {
  // width: 60%;
  // margin: 0 auto;
  .bg-wrapper {
    background: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Office-Meeting-Simple-Background-Image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;
  }
  .join-us-container {
    width: 60%;
    margin: 0 auto;
    // margin-top: 100vh;
    margin-top: -260px;
    margin-bottom: 20px;
    @media only screen and (max-width: 858px) {
      width: 96%;
    }

    .joinus-heading {
      // display: flex;
      color: #fff;
      .org-name {
        margin-right: 50px;
        /* float: right; */
        padding-bottom: 50px;
        font-size: 18px;
      }
      .heading {
        // width: 70%;
        position: relative;
        // z-index: 10;
        .join-us {
          letter-spacing: 2px;
          position: relative;
          #circle {
            top: -56px;
            position: absolute;
            width: 150px;
            height: 150px;
            left: -65px;
            padding: 0;
            /* color: blue; */
            margin: 0;
            z-index: -1;
            text {
              fill: blue;
            }
          }
        }
        p {
          margin-bottom: 10px;
          margin-top: 10px;
          font-size: 15px;
        }
      }
      .filterblog {
        // width: 30%;
        display: flex;
        justify-content: space-between;
        .first-para {
          width: 70%;
        }
        .icon-blog {
          display: flex;
          // width: 30%;
        }
      }
    }
    .joinUs-text-rotation {
      width: 82px;
      height: auto;
      position: absolute;
      left: 17%;
      bottom: 103px;
    }
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 0px 15px #ddd;
    margin-bottom: 20px;
    overflow: hidden;
    .imgBlog {
      #circle {
        margin: 20px 0 0 20px;
        z-index: 2;
      }
    }
    &:nth-child(even) {
      .imgBlog {
        &:hover {
          overflow: visible;
          .bubble {
            height: 100px;
            width: 100px;
            background-color: #2cfe77;
            position: absolute;
            border-radius: 50%;
            top: -31px;
            left: -20px;
            z-index: 1;
          }
        }
      }
    }
    &:nth-child(odd) {
      .imgBlog {
        background-color: #f814cb;
        #circle text {
          fill: yellow;
        }
        .yrs {
          #app {
            color: yellow;
          }
        }
        &:hover {
          overflow: visible;
          .bubble {
            height: 100px;
            width: 100px;
            position: absolute;
            background-color: #2660de;
            border-radius: 50%;
            top: -31px;
            right: -20px;
            z-index: 1;
          }
        }
      }
    }
    @media only screen and (max-width: 858px) {
      flex-direction: column;
    }
    .textBlog {
      width: 70%;
      padding: 20px;
      @media only screen and (max-width: 858px) {
        width: 100%;
        text-align: center;
      }
      h4 {
        letter-spacing: 1px;
        font-family: revert;
        font-weight: 600;
        font-size: 14px;
      }
      p {
        margin-top: 8px;
        font-size: 12px;
        // letter-spacing: 1px;
      }
      button {
        background: #2cf135;
        padding: 10px 30px;
        border: none;
        outline: none;
        border-radius: 25px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        box-shadow: 0 0px 12px rgba(44, 253, 51, 0.5);
      }
    }
    .imgBlog {
      width: 165px;
      background-color: yellow;
      // height: 150px;
      overflow: hidden;
      position: relative;
      // &:nth-child(odd){
      //   background-color: #f814cb;
      // }
      @media only screen and (max-width: 858px) {
        margin-bottom: 10px;
      }

      .yrs {
        position: absolute;
        right: -15px;
        top: 60px;
      }
      img {
        width: 70%;
        float: right;
        @media only screen and (max-width: 858px) {
          width: 100%;
          float: none;
        }
      }
    }
  }
}
