.joinus-main {
  // width: 60%;
  // margin: 0 auto;
  .join-us-container {
    width: 60%;
    margin: 0 auto;
    margin-top: -130px;
    margin-bottom: 20px;
    @media only screen and (max-width: 858px) {
      width: 96%;
    }
    .joinus-heading {
      // display: flex;
      color: #fff;
      .heading {
        // width: 70%;
        position: relative;
        h2 {
          letter-spacing: 2px;
        }
        p {
          margin-bottom: 10px;
          margin-top: 10px;
          font-size: 15px;
        }
      }
      .filterblog {
        // width: 30%;
        display: flex;
        justify-content: space-between;
        .first-para{
          width: 70%;
        }
        .icon-blog{
          display: flex;
          // width: 30%;
        }
      }
    }
    .joinUs-text-rotation {
      width: 82px;
      height: auto;
      position: absolute;
      left: 17%;
      bottom: 103px;
    }
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 10px #ddd;
    margin-bottom: 20px;
    &:nth-child(odd) {
      .imgBlog {
        background-color: deeppink;
        .rotation-text #circle text {
          fill: yellow;
        }
        .yrs {
          #app {
            color: yellow;
          }
        }
      }
    }
    @media only screen and (max-width: 858px) {
      flex-direction: column;
    }
    .textBlog {
      width: 70%;
      padding: 20px;
      @media only screen and (max-width: 858px) {
        width: 100%;
      }
      h4 {
        letter-spacing: 4px;
        font-family: revert;
        font-weight: 600;
        font-size: 14px;
      }
      p {
        margin-top: 8px;
        font-size: 12px;
        letter-spacing: 1px;
      }
      button {
        background: #2cf135;
        padding: 9px 17px;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 13px;
        box-shadow: 0 0px 12px rgba(44,253,51,0.5);
      }
    }
    .imgBlog {
      width: 150px;
      background-color: yellow;
      height: 150px;
      overflow: hidden;
      position: relative;
      // &:nth-child(odd){
      //   background-color: deeppink;
      // }

      .yrs {
        position: absolute;
        right: 0px;
        top: 60px;
      }
      img {
        width: 70%;
        float: right;
        @media only screen and (max-width: 858px) {
          width: 100%;
          float: none;
        }
      }
    }
  }
}
